body {
  background: linear-gradient(#b3d9ff,#00264d);
  text-align: justify;
}

header {
  color: #2049BC
  text-align: center
  font-family: "American Typewriter";
}

footer {
  color: #2049BC
  text-align: justify;
  font-family: "American Typewriter";
}

p {
  color: linear-gradient(#004de6,#001a33);
  font-family: "American Typewriter";
}
