body {
  background: linear-gradient(#b3d9ff,#00264d);
}

header {
  color: linear-gradient(#004de6,#001a33);
}

footer {
  color: linear-gradient(#99bbff,#001a33);
  border: 3px dotted #004de6;
}

p {
  color: linear-gradient(#004de6,#001a33);
  border: 2px dashed #0044cc;
}

h1 {
  text-align: center;
}
